<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>
<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>
<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
<%= @product.highest_rating_comment %>
<div>
<%= render 'new_comment' %>
</div>
<div>
<%= render 'comments' %>
</div>

<!--<%= link_to 'Edit', edit_product_path(@product) %> |-->
<%= link_to "edit product",products_path(@product)%>
<%= link_to 'Back', products_path %>
<div>
   <%= will_paginate @comments %>
</div>
